.friendListItemItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 0 0 10px #c6cccced;
}
.isOnline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: green;
}
.isOfline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: red;
}
.friendListItemAvatar {
  width: 48px;
  height: 48px;
  margin-right: 40px;
}
.friendListItemName {
  font-weight: 700;
  font-size: 25px;
  color: grey;
}
